{% macro conf_link_p2p(inventory_hostname, vlan, peer, pref, is_left) -%}
{% set ip = pref|ipaddr(0) if is_left else pref|ipaddr(1) %}

        unit {{ vlan }} {
	    vlan-id {{ vlan }};
	    description {{ inventory_hostname }}-{{ peer }};
	    family inet {
		address {{ ip }}
			}	
		}	
	

{%- endmacro %}

{% macro conf_link(inventory_hostname, vlan, desc,  pref) -%}
{% set ip = pref|ipaddr('host') %}

        unit {{ vlan }} {
            vlan-id {{ vlan }};
            description {{ desc }};
            family inet {
                address {{ ip }}
                        }
                }

{%- endmacro %}

####

system {
    host-name {{ inventory_hostname }};
    root-authentication {
        encrypted-password "$1$uBZWKpBO$zOgF57xmG2.riuLXexX4a0"; ## SECRET-DATA
    }
    login {
        user rado {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$O6K7Wzp2$22DR.7qyk4WDesJHqEnEV."; ## SECRET-DATA
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC5oFzQ2hJ0LiVVMntv1IMqZZNUZk1tRCjIC82fLZRA76n+udcBtqaicXR7UqLc+8+lU+LcclwpNqQE3tgWRm6ZWR4Oz/iUmnR83Lhim/cm+0Leqt1e0hlX1yzvqijLN9o+vIcND6ECbGRsWeRLKH8DYv9CEsNlK1y7OXxyIqIsg5elALz9L/oztfLGUUD4OvEcqXljJoOLw/Y/tCuKbzxXF7ciCDpkaTr8mAOOZPS93IFoIbndOMExrh6HYFbFrMITL4YMwqWlFdpx50HK8RSbksKZAsPyelPSf+iefsUMNOOxVegRi4b3yamxMoTwmFHubgfiQz4muic6luPjx2ut rado@Radoslavs-MacBook.local"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        netconf {
            ssh;
        }
        web-management {
            http {
                interface ge-0/0/0.0;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 192.168.1.5 {
            any any;
            port 25826;
        }
        file messages {
            any any;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    license {
        autoupdate {
            url https://ae1.juniper.net/junos/key_retrieval;
        }
    }
    ntp {
        server 192.168.1.1;
    }
}
security {
    forwarding-options {
        family {
            mpls {
                mode packet-based;
            }
        }
    }
}


interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address "{{ ansible_ssh_host }}"/24;
            }
        }
    }

    lo0 {
	unit 0 {
	family inet {
	    address {{ lo40 }}/32
		}
	}
    }
    ge-0/0/1 {
         vlan-tagging;
         encapsulation flexible-ethernet-services;
{% for link in scheme %}
	{% if link.linktype == "p2p" %}
		{% if inventory_hostname == link.left_router %}
			{{ conf_link_p2p(link.left_router, link.vlan, link.right_router, link.pref, true) }}
		{% elif inventory_hostname == link.right_router %}
			{{ conf_link_p2p(link.right_router, link.vlan, link.left_router, link.pref, false) }}
		{% else %}
		{% endif %}
	{% else %}
		{% if inventory_hostname == link.router %}
			{{ conf_link(inventory_hostname, link.vlan, link.desc, link.pref) }}
		{% else %}
		{% endif %}
	{% endif %}
{% endfor %}
	}
}
